tlp
vim
geany
gnome-tweak-tool
vlc
snapd
tmux
screen
tree
screen
jcal
xclock

python3-pip
vlc
dsniff
build-essential
hping3
fping
wireshark
nmap
net-tools
whois

util-linux 
procps
hostapd
iproute2
iw
haveged
dnsmasq
iptables
sysstat
